*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/diu-lab-firebase-backend/.idea
/diu-lab-firebase-backend/functions/node_modules
/diu-lab-firebase-backend/functions/package-lock.json
